@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Barlow", sans-serif;
	background: #ffffff;
	color: #333;
	line-height: 1.6;
}

ul {
	list-style: none;
}

a {
	color: #333;
	text-decoration: none;
}

p {
	margin: 10px 0;
}

img {
	width: 100%;
}

/* Navbar */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* background-color: #333; */
	color: #ffffff;
	opacity: 0.8;
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0px;
	padding: 0 100px;
}

.navbar a {
	color: #ffffff;
	padding: 10px 20px;
	margin: 0 5px;
	font-size: 15px;
	font-weight: 600;
}
.navbar a:hover {
	border-bottom: 2px solid darkorange;
}

.navbar ul {
	display: flex;
}

.navbar .logo {
	font-weight: 800;
}

/* Header */

.hero {
	background: url(../images/home/hero_contruction.jpg) no-repeat center
		center/cover;
	height: 100vh;
	position: relative;
	color: #ffffff;
}

.hero .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	padding: 0 20px;
}

.hero .content h1 {
	font-size: 90px;
	font-weight: 700;
}

.hero .content p {
	font-size: 25px;
	font-weight: 200;
	max-width: 600px;
	margin: 15px 0 30px;
}

.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.hero * {
	z-index: 10;
}

/* SERVICES */

#services {
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 60px 100px; */
	margin: 2rem 0 6rem 0;
}
.services-header {
	font-family: "Teko", sans-serif;
	margin: 2rem 0;
	font-size: 50px;
	font-weight: 900;
}

.services-items {
	display: flex;
}

.services-card {
	overflow: hidden;
	width: 400px;
	margin-right: 2rem;
	border-bottom: 3px solid darkorange;
}

.services-img {
	width: 400px;
}
.services-img img {
	width: 100%;
	height: 300px;
}

.services-txt h4 {
	width: 400px;
	display: block;
	font-size: 23px;
	font-weight: 600;
	margin-bottom: 3rem;
}

.services-btn:hover {
	display: flex;
	align-items: center;
	justify-content: center;
	background: darkorange;
	padding: 10px 0;
	/* margin-top: 3rem; */
}

.services-btn a {
	font-weight: 800;
	color: #fff;
}

.about-btn {
	font-family: "Teko", sans-serif;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	padding: 10px 40px;
	color: #fff;
	background-color: darkorange;
	border: none;
	border-radius: 5px;
}
