@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Barlow", sans-serif;
	background: #ffffff;
	color: #333;
	line-height: 1.6;
}

ul {
	list-style: none;
}

a {
	color: #333;
	text-decoration: none;
}

p {
	margin: 10px 0;
}

img {
	width: 100%;
}

/* Navbar */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #ffffff;
	opacity: 0.8;
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0px;
	padding: 0 100px;
}

.navbar a {
	color: #ffffff;
	padding: 10px 20px;
	margin: 0 5px;
	font-size: 15px;
	font-weight: 600;
}
.navbar a:hover {
	color: darkorange;
	transition: all 0.2s ease-in-out;
}

.navbar ul {
	display: flex;
}

.navbar .logo {
	font-weight: 800;
}

/* Header */

.hero {
	background: url(../images/home/hero_contruction.jpg) no-repeat center
		center/cover;
	height: 100vh;
	position: relative;
	color: #ffffff;
}

.hero .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	padding: 0 20px;
}

.hero .content h1 {
	font-size: 90px;
	font-weight: 700;
}

.hero .content p {
	font-size: 25px;
	font-weight: 200;
	max-width: 600px;
	margin: 15px 0 30px;
}

.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(1, 24, 71, 0.582);
}

.hero * {
	z-index: 10;
}

/* SERVICES */

#services {
	display: flex;
	justify-content: center;
	margin: 2rem 0 6rem 0;
}

.services-header {
	font-family: "Teko", sans-serif;
	margin: 2rem 0;
	font-size: 50px;
	font-weight: 900;
}

.services-items {
	display: flex;
	height: 450px;
}

.services-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 400px;
	margin-right: 1.2rem;
	color: #e8e9eb;
	box-shadow: 0 0 50px -9px;
}
.services-card:hover {
	transform: scale(1.04);
	transition: all 0.4s ease-in-out;
}

.services-img {
	color: darkorange;
	font-size: 60px;
	padding-top: 3rem;
}

.services-txt h4 {
	text-align: center;
	font-size: 23px;
	font-weight: 600;
	color: black;
	margin: 2rem 0;
}

.services-btn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 2px solid darkorange;
	padding: 10px 0;
	margin-top: 3rem;
}

.services-btn a {
	font-weight: 300;
	/* color: #fff; */
}

.about-btn {
	font-family: "Teko", sans-serif;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	padding: 10px 40px;
	color: #fff;
	background-color: darkorange;
	border: none;
	border-radius: 3px;
}

/* projects */
#projects-grid {
	display: flex;
	align-items: center;
	justify-content: center;
}

.projects-header {
	font-family: "Teko", sans-serif;
	margin: 2rem 0;
	font-size: 50px;
	font-weight: 900;
}

.projects-items {
	display: flex;
}

.projects-column {
	width: 400px;
	margin-right: 1.2rem;
}

.projects-column img {
	height: 470px;
	object-fit: cover;
	border-radius: 3px;
}

.projects-column img:hover {
	transform: scale(1.06);
	transition: all 0.5s ease-in-out;
}

/* Experience */
#experience {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(6, 5, 78);
	height: 45vh;
	margin: 4rem 0;
}

.items h2 {
	color: darkorange;
	font-size: 68px;
	font-weight: 800;
	font-family: "Teko", sans-serif;
}
.items p {
	color: #fff;
	margin-bottom: 3rem;
	width: 900px;
}

.items .btn-exp {
	font-family: "Teko" sans-serif;
	background-color: darkorange;
	padding: 15px 25px;
	color: #fff;
	font-size: 18px;
	width: 800px;
	border-radius: 2px;
}
.items .btn-exp:hover {
	opacity: 0.9;
}

/* Team */
#team {
	display: flex;
	justify-content: center;
	align-items: center;
}

.team-items {
	display: flex;
}

.team-member {
	margin-right: 2rem;
}
