/* Text Colors */

.text-primary {
	color: crimson;
}

.text-secondary {
	color: darkcyan;
}

.container {
	width: 1300px;
}

/* Button */

.btn {
	font-family: "Barlow", sans-serif;
	cursor: pointer;
	display: inline-block;
	padding: 10px 30px;
	color: #fff;
	background-color: darkorange;
	border: none;
	border-radius: 3px;
}

.btn:hover {
	opacity: 0.9;
}

.btn-primary,
.bg-primary {
	color: #fff;
	background-color: darkorange;
}
.btn-secondary {
	color: #fff;
	background-color: rgb(245, 213, 74);
}
.btn-dark {
	color: #fff;
	background-color: #333;
}
.btn-light {
	color: #333;
	background-color: #f4f4f4;
}

/* Flex Coloumns */

.flex-columns .row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.flex-columns .column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}
.flex-columns .column .column-1,
.flex-columns .column .column-2 {
	height: 100%;
}

.flex-columns img {
	width: 100%;
	height: 85%;
	object-fit: cover;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.flex-columns .column-2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 160px;
}

.flex-columns h2 {
	font-family: "Teko", sans-serif;
	font-size: 50px;
	font-weight: 900;
}

.flex-columns p {
	font-size: 17px;
	width: 800px;
	margin: 20px 0;
}
